<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto">
        <h1 class="display-4 text-center">Log In</h1>
        <p class="lead text-center">Sign in to your AwesomeChat account</p>

        <form [formGroup]="loginForm"
          (ngSubmit)="login()"
          novalidate>
          <div class="form-group">
            <input type="email"
              class="form-control form-control-lg"
              placeholder="Email Address"
              formControlName="email" />
            <span *ngIf="displayError('email')"
              class="error">
              {{displayError('email')}}
            </span>
          </div>
          <div class="form-group">
            <input type="password"
              class="form-control form-control-lg"
              placeholder="Password"
              formControlName="password" />
          </div>
          <span *ngIf="displayError('password')"
            class="error">
            {{displayError('password')}}
          </span>


          <button class="btn btn-info btn-block mt-4"
            [disabled]="submitDisabled()"
            type="submit">Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>