<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">

      <div *ngIf="showSpinner" class="progress">
        <div class="indeterminate"></div>
      </div>

      <h3>Sign Up</h3>
      <form class="col s12"
        [formGroup]="signupForm"
        (ngSubmit)="signup()"
        novalidate>
        <div class="row">
          <div class="input-field col s12">
            <input formControlName="name"
              type="text">
            <label>User Name</label>
            <span *ngIf="displayError('name')"
              class="error">
              {{displayError('name')}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input formControlName="email"
              type="email">
            <label>Email</label>
            <span *ngIf="displayError('email')"
              class="error">
              {{displayError('email')}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input formControlName="password"
              type="password">
            <label>Password</label>
            <span *ngIf="displayError('password')"
              class="error">
              {{displayError('password')}}
            </span>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input formControlName="password2"
              type="password">
            <label>Confirm Password</label>
            <span *ngIf="displayError('password2')"
              class="error"> 
              {{displayError('password2')}}
            </span>
          </div>
        </div>

        <button class="btn"
          [disabled]="submitDisabled()"
          type="submit"
          name="action">Submit
        </button>
      </form>

    </div>
  </div>
</div>